/* DISEÑO GENERAL PARA TODAS LAS PAGINAS DEL SITIO */

html {
    font-size: 9px;
}

@media (max-width: $windowsSize_table){
    html {
        font-size: 8px;
    }
}

@media (max-width: $windowsSize_cel){
    html {
        font-size: 7px;
    }
}


body
{
    height: 100vh;
    background-color: #242424;
    background-image: linear-gradient(-45deg, rgb(25, 25, 25) 0%, rgb(50, 50, 50) 50%, rgb(25, 25, 25) 100%);
    background-size: auto;
    background-attachment: fixed;

    display: grid;
    grid-template-areas:     
    "header"
    "central-info"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    row-gap: 1.5rem;
}


/*          Background        */
.backImg{
    width: 100vw;
    height: 100vh;
    position: fixed;  top: 0px; right: 0px;
    z-index: 1;

    &__botGray{
        background-image: url(../assets/background/background\ gris\ oscuro.png);
        @include backgrImg(40%,50%);
    }
    
    &__botWhite{
        background-image: url(../assets/background/background\ gris\ claro.png);
        @include backgrImg(40%,50%);
    }
    
    &__topGray{
        width: 35%; height: 40%;
        position:fixed; top: 0px; right: 0px;
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg); 
        background-image: url(../assets/background/background\ gris\ oscuro.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
    }
}


/*          Header          */
.header{
    grid-area: header;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position:sticky; top: 0px; left: 0px;
    z-index: 10;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    animation-name: appear;
    animation-duration: 1s;
    animation-iteration-count: 1;

    &__menu{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 2rem;
        gap: 1rem;

        & li{
            padding: 0.8rem 1.5rem;
            
            & a{
                color: whitesmoke;
                font-family: 'Segoe UI', Tahoma, 'work sans', sans-serif;
                font-size: 2.2rem;
                text-align: center;

                & span{
                    font-size: 1.5rem;
                }
            }
        
            &:hover{
                background-color: rgb(65, 65, 65);
                border-radius: 2.5rem;
                -webkit-border-radius: 2.5rem;
                -moz-border-radius: 2.5rem;
                -ms-border-radius: 2.5rem;
                -o-border-radius: 2.5rem;
            }
        }
    }

    &__compName{
        color: orangered;
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        margin-right: 2.5rem;
        padding: 0.1rem 2rem;
        background-color: rgba(0, 0, 0, 0.349);
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;
    }
}

.menuBurger{
    display: none;
}
#menu{
    display: none;
}
.menuCheck{
    float: left;
    cursor: pointer;

    img{
        width: 60px; height: auto;
    }
}


/*       Header Responsive       */
@media (max-width: $windowsSize_table){
    .header__menu li a{
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
    }
    .header__compName{
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
    }
}

@media (max-width: $windowsSize_cel){
    .menuBurger{
        display: block;
    }
    .header__menu{
        display: block;
        position: absolute;
        padding: 5px;
        width: 150px;
        height: auto;
        background: rgba(0, 0, 0, 0.9);
        top: 60px;
        left: -150px;
        text-align: center;
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
    }
    .header__menu li{
        display: block;
    }
    .header__menu li a{
        display: block;
    }

    #menu:checked ~ ul{
        left:0px;
    }
}


/*          Footer          */
.footer{
    grid-area: footer;
    position: static; bottom: 0px; left: 0px;
    padding: 0.2rem 2rem;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    
    &__social{
        height: 100%;
        width:fit-content;
        
        a img{
            width: 6rem;
            height: 6rem;
            margin-left: 1.5rem;
        }
    }
    
    &__info{
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 1.5rem;
        
        &__logo{
            height: 100%;
            width: 6rem;
            
            a img{
                height: 6rem;
                width: auto;
                justify-self: center;
                align-self: center;
            }
        }
        &__name{
            h2{
                color: rgb(150, 150, 150);
                font-size: 3rem;
                font-weight: 100;
                text-align: left;
            }
            h3{
                color: rgb(150, 150, 150);
                font-size: 1.8rem;
                font-weight: 100;
                text-align: left;
            }
        }
    }
}


