@font-face {
    font-family: bradley-hand-itc;
    src: url(../assets/fonts/bradley-hand-itc.ttf);
}

.logoFont{
    font-family: bradley-hand-itc, 'work sans', sans-serif;
}

.esloganFont{
    font-family: bradley-hand-itc, 'work sans', sans-serif;
}
