

.carr-central{
    grid-area: central-info;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-self: center;
    margin: 2.5rem;
    z-index: 2;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    animation-name: appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    justify-content:last baseline;
    font-size: 1.8rem;
}


.carrito-vacio,
.carrito-comprado {
    color: whitesmoke;
    font-size: 2rem;
}

.carrito-productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 8rem;
    height: 8rem;
    object-fit: scale-down;
    object-position: center center;
    background-color: white;
    //width: 4rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.carrito-producto-titulo{
    width: 25rem;
}

.carrito-producto small {
    font-size: 1.6rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: orangered;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;

    button{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4em;
        text-align: center;
        background-color: rgb(199, 199, 199);
        color: rgb(30, 30, 30);
        padding: .4rem 1rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid rgb(199, 199, 199);
        transition: background-color .2s, color .2s;
        -webkit-transition: background-color .2s, color .2s;
        -moz-transition: background-color .2s, color .2s;
        -ms-transition: background-color .2s, color .2s;
        -o-transition: background-color .2s, color .2s;
        &:hover
        {
            background-color: rgba(0, 0, 0, 0.01);
            color: whitesmoke;
        }
    }
}

.carrito-acciones-vaciar{
    height: 100%;
}

.carrito-acciones-derecha {
    display: flex;
    gap: 1rem;
}

.carrito-acciones-total {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4em;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    text-transform: uppercase;
    gap: 1rem;
}

.disabled {
    display: none;
}