
/*                      PAGINA PRODUCTOS                     */

/*          Galeria         */
.prod-galery{
    grid-area: central-info;
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    margin: 3rem;
    gap: 2rem;
    z-index: 2;
    animation: displayNull, fadeInLeft;
    -webkit-animation: displayNull, fadeInLeft;
    animation-duration: 1.1s, 1s;
    animation-delay: 0s, 1s;
    animation-timing-function: linear, ease-out;
}

/*          Producto         */
.product{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30rem; height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    &__img{
        background-color: white;
        width: 100%; height: 30rem;
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    img{
        width: 27rem; height: 30rem;
        object-fit: scale-down;
        object-position: center center;
    }
    h4{
        color: orangered;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2em;
        text-align: center;
        margin: 1.4rem 0px;
    }
    p{
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 1.4em;
        text-align: center;
    }
}



/*       Productos Responsive       */

@media (max-width: $windowsSize_cel){
    .prod-galery{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        margin: 1rem;
        gap: 1.8rem;
        z-index: 2;
    }
    .product{
        width: 100%; height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 1.8rem;
        gap:1.8rem
    }
    .product__img{
        width: auto; height: auto;
    }
    .product img{
        width: 22rem; height: 22rem;
        object-fit: scale-down;
        object-position: center center;
    }
}

