
/*                      PAGINA PROYECTOS                     */

/*          Grid central         */
.proj-galery{
    grid-area: central-info;
    width: 96%; height: auto;
    margin: 2.5rem;
    z-index: 2;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.project{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 2rem;
    gap: 0px;
    border: 2px solid rgba(94, 94, 94, 0.658);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;

    &__img{
        width: 60%;
        height: auto;
        
        img, video{
            width: 100%;
            height: auto;
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
            object-fit: cover;
            object-position: center center;
        }
    }
    
    &__info{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 3rem;
        
        h4{
            color: orangered;
            font-family: 'work sans', sans-serif;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            font-weight: 300;
            text-align: center;
        }
        p{
            font-size: 2rem;
            font-weight: 100;
            text-align: center;
        } 
    }
}

.project:nth-child(1){
    animation: displayNull, fadeInLeft;
    -webkit-animation: displayNull, fadeInLeft;
    animation-duration: 1.1s, 1.5s;
    animation-delay: 0s, 1s;
    animation-timing-function: linear, ease-out;
}
.project:nth-child(2){
    animation: displayNull, fadeInLeft;
    -webkit-animation: displayNull, fadeInLeft;
    animation-duration: 2.1s, 1.5s;
    animation-delay: 0s, 2s;
    animation-timing-function: linear, ease-out;
}
.project:nth-child(3){
    animation: displayNull, fadeInLeft;
    -webkit-animation: displayNull, fadeInLeft;
    animation-duration: 3.1s, 1.5s;
    animation-delay: 0s, 3s;
    animation-timing-function: linear, ease-out;
} 


/*       Proyectos Responsive       */
@media (max-width: $windowsSize_table){
    .proj-galery{
        margin: 1rem;
        gap: 0px;
        column-gap: 0px;
    }
    .project{
        flex-direction: column;
        margin: 2rem;
    }  
    .project__img{
        width: 100%;
    }
    .project__info{
        width: 100%;
        padding-left: 0px;
    }
    .project__info h4{
        margin: 1.5rem 0px;
    }
}

